@model OrganiseClientsMeetings.Models.Meeting[]

@if (Model != null)
{
    <div class="container">
        @foreach (var item in Model)
        {
        <div class="row">
            <div class="col-md-3">
                <p>@item.DateTime</p>
            </div>
            <div class="col-md-3">
                <p>@item.ClientId</p>
            </div>
            <div class="col-md-3">
                <p>@item.Address</p>
            </div>
        </div>
        }
    </div>
    
}